body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  div {
    margin-top: 20px;
    text-align: center;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  h1 {
    color: #6a1b9a;
    font-size: 30px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    width: 300px;
    margin: 20px auto;
  }
  
  li {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    transition: box-shadow 0.3s ease;
  }
  
  li:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  li button {
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  li button:hover {
    background-color: #ff1a1a;
  }
  